.jumbotron {
  background-image: url("../assets/img/main.jpg");
  background-size: cover;
  color: #fff;
  height: 100vh; }
  @media all and (max-width: 768px) {
    .jumbotron {
      height: 700px; } }
  .jumbotron nav {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Quicksand', sans-serif;
    justify-content: space-between;
    padding: 20px 50px; }
    .jumbotron nav .logo {
      font-size: 1.5rem; }
      @media all and (max-width: 767px) {
        .jumbotron nav .logo {
          flex-basis: 100%;
          margin-bottom: 10px;
          text-align: center; } }
    .jumbotron nav .nav-links {
      display: flex;
      font-size: 1.1rem;
      justify-content: space-around; }
      @media all and (max-width: 767px) {
        .jumbotron nav .nav-links {
          flex-basis: 100%;
          text-align: center; } }
      .jumbotron nav .nav-links a {
        color: inherit;
        margin: 10px;
        text-decoration: none; }
  .jumbotron main {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin-top: 260px;
    text-align: center; }
    .jumbotron main h1 {
      font-size: 3rem;
      margin-bottom: 20px; }
    .jumbotron main p {
      margin: 0 1%;
      margin-bottom: 30px; }
    .jumbotron main button {
      background: #3c4ba5;
      border-color: #3c4ba5;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      padding: 13px 20px;
      width: 191px; }

.destinations {
  color: #414a4f;
  font-family: 'Open Sans', sans-serif; }
  .destinations header {
    padding-bottom: 50px;
    padding-top: 100px;
    text-align: center; }
    .destinations header h1 {
      font-size: 2rem;
      margin-bottom: 20px; }
    .destinations header p {
      margin: auto;
      max-width: 500px;
      padding: 20px 0; }
    .destinations header .line {
      border-bottom: 2px solid #3c4ba5;
      display: inline-block;
      width: 220px; }
  .destinations main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px; }
    @media all and (max-width: 767px) {
      .destinations main {
        flex-direction: column; } }
    .destinations main img {
      padding: 1.5%; }

.features-services {
  background-color: #f7f7f7;
  color: #414a4f;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding-bottom: 120px; }
  .features-services header {
    padding-bottom: 50px;
    padding-top: 120px;
    text-align: center; }
    .features-services header h1 {
      font-size: 2rem;
      margin-bottom: 20px; }
    .features-services header p {
      margin: auto;
      max-width: 500px;
      padding: 20px 0; }
    .features-services header .line {
      border-bottom: 2px solid #3c4ba5;
      display: inline-block;
      width: 220px; }
  .features-services main {
    display: flex; }
    @media all and (max-width: 768px) {
      .features-services main {
        flex-wrap: wrap;
        justify-content: center; } }
    .features-services main .feature {
      flex-basis: 33%;
      padding: 0 30px;
      padding-bottom: 20px;
      text-align: center; }
      @media all and (max-width: 414px) {
        .features-services main .feature {
          flex-basis: 100%;
          padding: 0 1.5% 20px; } }
      .features-services main .feature i {
        color: #3c4ba5; }
      .features-services main .feature h4 {
        font-size: 20px;
        margin-bottom: 25px; }

.testimonials {
  color: #414a4f;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin: auto;
  max-width: 800px;
  padding: 20px 5px;
  text-align: center; }
  .testimonials header {
    padding-bottom: 50px;
    padding-top: 120px;
    text-align: center; }
    .testimonials header h1 {
      font-size: 2rem;
      margin-bottom: 20px; }
    .testimonials header p {
      margin: auto;
      max-width: 500px;
      padding: 20px 0; }
    .testimonials header .line {
      border-bottom: 2px solid #3c4ba5;
      display: inline-block;
      width: 220px; }
  .testimonials .testimonial-list .quote {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0 1.5%; }
  .testimonials .testimonial-list .author {
    color: #555;
    margin-bottom: 20px; }

/*# sourceMappingURL=styles.css.map */
