@import 'variables';

// Jumbotron
.jumbotron {
  background-image: url('../assets/img/main.jpg');
  background-size: cover;
  color: $white;
  height: 100vh;
  @media all and (max-width: 768px) {
    height: 700px;
  }

  // Nav Bar
  nav {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Quicksand', sans-serif;
    justify-content: space-between;
    padding: 20px 50px;

    .logo {
      font-size: 1.5rem;
      @media all and (max-width: 767px) {
        flex-basis: 100%;
        margin-bottom: 10px;
        text-align: center;
       }
    }

    .nav-links {
      display: flex;
      font-size: 1.1rem;
      justify-content: space-around;
      @media all and (max-width: 767px) {
        flex-basis: 100%;
        text-align: center;
       }

      a {
        color: inherit;
        margin: 10px;
        text-decoration: none;

      }
    }
  }

  // Main
  main {

    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin-top: 260px;
    text-align: center;

    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }

    p {
      margin: 0 1%;
      margin-bottom: 30px;
    }

    button {
      background: $blue;
      border-color: $blue;
      border-radius: 5px;
      color: $white;
      cursor: pointer;
      font-size: 1rem;
      padding: 13px 20px;
      width: 191px;
    }
  }
}

.destinations {
  header {
    padding-bottom: 50px;
    padding-top: 100px;
    text-align: center;

    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    p {
      margin: auto;
      max-width: 500px;
      padding: 20px 0;
    }

    .line {
      border-bottom: 2px solid $blue;
      display: inline-block;
      width: 220px;
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
    @media all and (max-width: 767px) {
      flex-direction: column;
    }

    img {
      padding: 1.5%;
    }
  }
}

.features-services {
  background-color: $gray;
  padding-bottom: 120px;

  header {
    padding-bottom: 50px;
    padding-top: 120px;
    text-align: center;

    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    p {
      margin: auto;
      max-width: 500px;
      padding: 20px 0;
    }

    .line {
      border-bottom: 2px solid $blue;
      display: inline-block;
      width: 220px;
    }
  }

  main {
    display: flex;
    @media all and (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .feature {
      flex-basis: 33%;
      padding: 0 30px;
      padding-bottom: 20px;
      text-align: center;
      @media all and (max-width: 414px) {
        flex-basis: 100%;
      }

      i {
        color: $blue;
      }

      h4 {
        font-size: 20px;
        margin-bottom: 25px;
      }

    }
  }

}
